//$debugGlobal: $debug; // body, header, main, footer
//$debugDivisions: $debug; // section, article, div
//$debugInners: $debug;

@mixin debug($debugGlobal: false, $debugDivisions: false, $debugInners: false){
    body,  {
        @if ($debugGlobal) { // visualizing layout internals
            border: 3px solid rgba(0, 119, 134, 0.904);
            header, main, footer{
                @if ($debugGlobal) { // visualizing layout internals
                    border: 2px solid rgba(0, 0, 255, 0.9);
                }
            }
            @content
        }
    }
    
    section, article, aside, div {
        @if ($debugDivisions) { // visualizing layout internals
            border: 1px dashed rgba(24, 143, 0,.75);
            

            >section, >div{
                @if ($debugDivisions) { // visualizing layout internals
                    border: 1px dotted rgba(255, 0, 0, 1);
                    >section, >div{
                        @if ($debugDivisions) { // visualizing layout internals
                            border: 1px solid rgb(255, 0, 212);
                        }
                    }
                }
            }
        }
        
    }
    h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, img  {
        @if ($debugInners) { // visualizing layout internals
            border: 1px dotted rgba(255, 115, 0, 1);
            >h1, >h2, >h3, >h4, >h5, >h6, >p, >ul, >ol, >li, >a, >span, >img{
                border: 1px solid rgb(255, 255, 0);

            }
            @content
        }
    }

}