body{
    font-family: $regularFont;
    font-size:  $regularFontSize;
    color: $regularColor;
    a{
        color: $regularColor;
        &:hover{
            color: $regularColor; 
        }
    }
    
}

.main__container{
    border-top: 4px solid $primaryColor;

    .slider__container{

        .slider-arrows{
            visibility: hidden;
        }
        &:hover{
            .slider-arrows{
                visibility: visible;
            }
        }

    }



    .contents__container{
        padding-top: 7px;
        ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            list-style-type: none;
            padding: 0;
            li{
                display: flex; 
                flex-basis: calc(25% - 10px);  
                justify-content: center;
                flex-direction: column;
                margin: 25px 5px;
                background: #6d6d6d;

                &:nth-child(1){
                    figure{
                        background-color: #fa6800;
                        background-position-x: -680px;

                    }
                }
                &:nth-child(2){
                    figure{
                        background-color: #1ba1e2;
                        background-position-x: -450px;

                    }
                }
                &:nth-child(3){
                    figure{
                        background-color: #9f00c4;
                        background-position-x: -216px;

                    }
                }
                &:nth-child(4){
                    figure{
                        background-color: #d80073;
                        background-position-x: 23px;

                    }
                }
                &:nth-child(5){
                    figure{
                        background-color: #b617d3;
                        background-position-x: 250px;

                    }
                }
                &:nth-child(6){
                    figure{
                        background-color: #4fc736;
                        background-position-x: 490px;

                    }
                }
                &:nth-child(7){
                    figure{
                        background-color: #fe9f09;
                        background-position-x: 727px;

                    }
                }
                &:nth-child(8){
                    figure{
                        background-color: #c40023;
                        background-position-x: 960px;

                    }
                }


                figure{
                    background-image: url('../images/bnr.png');
                    height: 150px;
                    position: relative;
                    transition-duration: 400ms;
                    figcaption{
                        bottom: -31px;
                        position: absolute;
                    }
                    &:hover{
                        background-position-y: 100%;
                        background-color: white;
                    }

                    
                }

                
                
            }
        }
    }



    .products__container{
        background-color:  #f1f1f1;

        h2{
            font-size: 18px;
            border-bottom: 4px solid $primaryColor;
            display: inline;
            line-height: 65px;
            padding-bottom: 8px;
        }
        hr{
            border: 1px solid #cfcfcf;
            padding-top: 0px;
            margin-top: -7px;
        }
        p{
            font-family: Tahoma;
            font-size: 11px;
            color: #6d6d6d;
        }
    }
    
}