@font-face {
  font-family: 'vazir';
  src: url("../fonts/vazir/Vazir-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/vazir/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir-Medium.woff2") format("woff2"), url("../fonts/vazir/Vazir-Medium.woff") format("woff"), url("../fonts/vazir/Vazir-Medium.ttf") format("truetype"), url("../fonts/vazir/Vazir-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.header__container {
  height: 120px;
  display: contents;
}

.header__container nav {
  margin-bottom: 0;
}

.header__container nav .logo__container .logo-img {
  float: left;
}

.header__container nav .logo__container button {
  margin-right: 0px;
}

.header__container nav .logo__container button span {
  background-color: #3e3e3e;
}

.header__container nav .search__container form {
  position: relative;
}

.header__container nav .search__container form .search-image {
  position: absolute;
  top: 2px;
  left: 17px;
}

.header__container nav .search__container input {
  border: 1px solid #b8c7d0;
  border-radius: 0;
  width: 172px;
  height: 33px;
  font-family: Tahoma;
  font-size: 11px;
  padding-right: 7px;
  padding-left: 30px;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.header__container nav .search__container input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bfbfbf;
}

.header__container nav .search__container input::-moz-placeholder {
  /* Firefox 19+ */
  color: #bfbfbf;
}

.header__container nav .search__container input:-ms-input-placeholder {
  /* IE 10+ */
  color: #bfbfbf;
}

.header__container nav .search__container input:-moz-placeholder {
  /* Firefox 18- */
  color: #bfbfbf;
}

.header__container .menu__container {
  position: absolute;
  top: 67px;
}

.header__container .menu__container ul {
  padding: 0;
}

.header__container .menu__container ul li {
  float: right;
}

body {
  font-family: vazir;
  font-size: 14px;
  color: #3e3e3e;
}

body a {
  color: #3e3e3e;
}

body a:hover {
  color: #3e3e3e;
}

.main__container {
  border-top: 4px solid #87bd25;
}

.main__container .slider__container .slider-arrows {
  visibility: hidden;
}

.main__container .slider__container:hover .slider-arrows {
  visibility: visible;
}

.main__container .contents__container {
  padding-top: 7px;
}

.main__container .contents__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.main__container .contents__container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(25% - 10px);
      flex-basis: calc(25% - 10px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 5px;
  background: #6d6d6d;
}

.main__container .contents__container ul li:nth-child(1) figure {
  background-color: #fa6800;
  background-position-x: -680px;
}

.main__container .contents__container ul li:nth-child(2) figure {
  background-color: #1ba1e2;
  background-position-x: -450px;
}

.main__container .contents__container ul li:nth-child(3) figure {
  background-color: #9f00c4;
  background-position-x: -216px;
}

.main__container .contents__container ul li:nth-child(4) figure {
  background-color: #d80073;
  background-position-x: 23px;
}

.main__container .contents__container ul li:nth-child(5) figure {
  background-color: #b617d3;
  background-position-x: 250px;
}

.main__container .contents__container ul li:nth-child(6) figure {
  background-color: #4fc736;
  background-position-x: 490px;
}

.main__container .contents__container ul li:nth-child(7) figure {
  background-color: #fe9f09;
  background-position-x: 727px;
}

.main__container .contents__container ul li:nth-child(8) figure {
  background-color: #c40023;
  background-position-x: 960px;
}

.main__container .contents__container ul li figure {
  background-image: url("../images/bnr.png");
  height: 150px;
  position: relative;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.main__container .contents__container ul li figure figcaption {
  bottom: -31px;
  position: absolute;
}

.main__container .contents__container ul li figure:hover {
  background-position-y: 100%;
  background-color: white;
}

.main__container .products__container {
  background-color: #f1f1f1;
}

.main__container .products__container h2 {
  font-size: 18px;
  border-bottom: 4px solid #87bd25;
  display: inline;
  line-height: 65px;
  padding-bottom: 8px;
}

.main__container .products__container hr {
  border: 1px solid #cfcfcf;
  padding-top: 0px;
  margin-top: -7px;
}

.main__container .products__container p {
  font-family: Tahoma;
  font-size: 11px;
  color: #6d6d6d;
}

.footer__container {
  background-color: #3d3a33;
  color: #646464;
  padding: 25px;
  padding-bottom: 10px;
  font-size: 10.5px;
  font-family: Tahoma;
}

.footer__container section {
  float: right;
}

.footer__container section ul {
  list-style-type: none;
  padding: 0px;
}

.footer__container section ul li {
  float: right;
  display: inline-block;
  margin: 12px 10px 0px 10px;
}

.footer__container section ul li a {
  color: #959595;
}

.footer__container section ul li a:hover {
  color: #dadada;
  text-shadow: 0px 0px 10px black;
  text-decoration: none;
}

.footer__container section .copyright__container {
  direction: ltr;
}

.footer__container section .copyright__container ul {
  display: inline-block;
}

.footer__container section .copyright__container ul li {
  float: left;
  width: 24px;
  height: 23px;
  display: inline-block;
  margin: 0px 1.5px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.footer__container section .copyright__container ul li:hover {
  margin-top: -3px;
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
}

.footer__container section .copyright__container ul li figure {
  width: 100%;
  height: 100%;
  background-image: url("../images/social.png");
}

.footer__container section .copyright__container ul li:nth-child(2) figure {
  background-position: -25px 0px;
}

.footer__container section .copyright__container ul li:nth-child(3) figure {
  background-position: -50px 0px;
}

.footer__container section .copyright__container ul li:nth-child(4) figure {
  background-position: -75px 0px;
}

.footer__container section .copyright__container ul li:nth-child(5) figure {
  background-position: -100px 0px;
}

body {
  direction: rtl;
}

@media (max-width: 1199px) {
  .main__container .contents__container ul li:nth-child(1) figure {
    background-position-x: -713px;
  }
  .main__container .contents__container ul li:nth-child(2) figure {
    background-position-x: -475px;
  }
  .main__container .contents__container ul li:nth-child(3) figure {
    background-position-x: -240px;
  }
  .main__container .contents__container ul li:nth-child(4) figure {
    background-position-x: -3px;
  }
  .main__container .contents__container ul li:nth-child(5) figure {
    background-position-x: 230px;
  }
  .main__container .contents__container ul li:nth-child(6) figure {
    background-position-x: 467px;
  }
  .main__container .contents__container ul li:nth-child(7) figure {
    background-position-x: 700px;
  }
  .main__container .contents__container ul li:nth-child(8) figure {
    background-position-x: 935px;
  }
}

@media (max-width: 991px) {
  .menu__container ul > li > a {
    padding: 15px 7px;
    font-size: small;
  }
  .main__container .contents__container ul li {
    -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px);
  }
  .main__container .contents__container ul li figure {
    background-size: 550%;
  }
  .main__container .contents__container ul li:nth-child(1) figure {
    background-position-x: -663px;
  }
  .main__container .contents__container ul li:nth-child(2) figure {
    background-position-x: -421px;
  }
  .main__container .contents__container ul li:nth-child(3) figure {
    background-position-x: -186px;
  }
  .main__container .contents__container ul li:nth-child(4) figure {
    background-position-x: 58px;
  }
  .main__container .contents__container ul li:nth-child(5) figure {
    background-position-x: 298px;
  }
  .main__container .contents__container ul li:nth-child(6) figure {
    background-position-x: 543px;
  }
  .main__container .contents__container ul li:nth-child(7) figure {
    background-position-x: 772px;
  }
  .main__container .contents__container ul li:nth-child(8) figure {
    background-position-x: 1016px;
  }
}

@media (max-width: 767px) {
  .header__container {
    height: 50px;
  }
  .header__container .logo-img img {
    height: 50px;
  }
  .header__container .menu__container {
    position: unset;
    top: 69px;
  }
  .header__container .menu__container ul li {
    float: unset;
    border-bottom: 1px solid lightgray;
  }
  .header__container .search__container .search-image {
    margin-top: 9px;
  }
  .header__container .search__container form input {
    width: 100%;
  }
  .main__container .contents__container ul li {
    -ms-flex-preferred-size: calc(100% - 10px);
        flex-basis: calc(100% - 10px);
  }
  .main__container .contents__container ul li figure {
    height: 345px;
    background-size: 600%;
  }
  .main__container .contents__container ul li:nth-child(1) figure {
    background-position-x: 43%;
  }
  .main__container .contents__container ul li:nth-child(2) figure {
    background-position-x: 27.5%;
  }
  .main__container .contents__container ul li:nth-child(3) figure {
    background-position-x: 12.5%;
  }
  .main__container .contents__container ul li:nth-child(4) figure {
    background-position-x: -2.5%;
  }
  .main__container .contents__container ul li:nth-child(5) figure {
    background-position-x: -17.5%;
  }
  .main__container .contents__container ul li:nth-child(6) figure {
    background-position-x: -32.5%;
  }
  .main__container .contents__container ul li:nth-child(7) figure {
    background-position-x: -47.5%;
  }
  .main__container .contents__container ul li:nth-child(8) figure {
    background-position-x: -62.5%;
  }
  .footer__container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer__container section {
    float: unset;
    text-align: center;
  }
  .footer__container section ul {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .main__container .contents__container ul li figure {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .main__container .contents__container ul li figure {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .main__container .contents__container ul li figure {
    height: 150px;
  }
}

@media (max-width: 550px) {
  .slider__container img {
    min-height: 150px;
  }
}
/*# sourceMappingURL=style.css.map */